@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

@import url(https://use.fontawesome.com/releases/v5.13.0/css/all.css);

@font-face {
	font-family: Slack v2;
	src: url(https://a.slack-edge.com/bv1-9/slack-icons-v2-52a0486.woff2) format("woff2"), url(https://a.slack-edge.com/bv1-9/slack-icons-v2-d01f047.woff) format("woff");
	font-style: normal;
	font-weight: 400
}

@font-face {
	font-family: Whitney;
	font-weight: 300;
	src: url(6c6374bad0b0b6d204d8d6dc4a18d820.woff) format("woff")
}

@font-face {
	font-family: Whitney;
	font-weight: 400;
	src: url(e8acd7d9bf6207f99350ca9f9e23b168.woff) format("woff")
}

@font-face {
	font-family: Whitney;
	font-weight: 500;
	src: url(3bdef1251a424500c1b3a78dea9b7e57.woff) format("woff")
}

@font-face {
	font-family: Whitney;
	font-weight: 600;
	src: url(be0060dafb7a0e31d2a1ca17c0708636.woff) format("woff")
}

@font-face {
	font-family: Whitney;
	font-weight: 700;
	src: url(8e12fb4f14d9c4592eb8ec9f22337b04.woff) format("woff")
}

@font-face {
	font-family: Whitney;
	font-style: italic;
	font-weight: 400;
	src: url(fe89b2b49c21616996ca5f421f6533fd.woff) format("woff")
}

@font-face {
	font-family: ArchivoBlack;
	src: url(b3d2cec6ac615af28f624365ce84fbef.woff) format("woff")
}

@font-face {
	font-family: Reenie Beanie;
	src: url(4b861c4f9cb4e4fbec1662f6c6e9186f.woff) format("woff")
}

@font-face {
	font-family: SourceCodePro;
	font-weight: 400;
	src: url(748ac49ebe4bf0ddfe85c005be7c64c4.woff) format("woff")
}

@font-face {
	font-family: Ginto Nord;
	font-weight: 500;
	src: url(85c380039f5f613aaff384d31f138bd0.woff2) format("woff2"), url(153dd2e469cd5378bdfc5e18b5c7bcaf.woff) format("woff")
}

@font-face {
	font-family: Ginto Nord;
	font-weight: 700;
	src: url(99619b37363d58b09a12ac0a1e4fdc02.woff2) format("woff2"), url(22ac6368e782d5fd36c1d737845dd231.woff) format("woff")
}

@font-face {
	font-family: Ginto Normal;
	src: url(95cd098b428b50acb7ddd9c75f425a4a.woff2) format("woff2"), url(0b0102d4268051804f46ef1d8e2403e0.woff) format("woff")
}

@font-face {
	font-family: Slack-Lato;
	font-style: normal;
	font-weight: 300;
	src: local("\263A"), url(https://a.slack-edge.com/bv1-9/lato-light-0b50f74.woff2) format("woff2"), url(https://a.slack-edge.com/bv1-9/lato-light-1475c14.woff) format("woff");
	unicode-range: U+0000-f8fe, U+f900-ffff
}

@font-face {
	font-family: Slack-Lato;
	font-style: normal;
	font-weight: 400;
	src: local("\263A"), url(https://a.slack-edge.com/bv1-9/lato-regular-d9ce515.woff2) format("woff2"), url(https://a.slack-edge.com/bv1-9/lato-regular-ea6d1e4.woff) format("woff");
	unicode-range: U+0000-f8fe, U+f900-ffff
}

@font-face {
	font-family: Slack-Lato;
	font-style: normal;
	font-weight: 700;
	src: local("\263A"), url(https://a.slack-edge.com/bv1-9/lato-bold-4b1dc11.woff2) format("woff2"), url(https://a.slack-edge.com/bv1-9/lato-bold-a532381.woff) format("woff");
	unicode-range: U+0000-f8fe, U+f900-ffff
}

@font-face {
	font-family: Slack-Lato;
	font-style: normal;
	font-weight: 900;
	src: local("\263A"), url(https://a.slack-edge.com/bv1-9/lato-black-b64f5e4.woff2) format("woff2"), url(https://a.slack-edge.com/bv1-9/lato-black-8857ce8.woff) format("woff");
	unicode-range: U+0000-f8fe, U+f900-ffff
}

@font-face {
	font-family: Slack-Lato;
	font-style: italic;
	font-weight: 300;
	src: local("\263A"), url(https://a.slack-edge.com/bv1-9/lato-italic-light-c593311.woff2) format("woff2"), url(https://a.slack-edge.com/bv1-9/lato-italic-light-354fb58.woff) format("woff");
	unicode-range: U+0000-2259, U+2261-f8fe, U+f900-ffff
}

@font-face {
	font-family: Slack-Lato;
	font-style: italic;
	font-weight: 400;
	src: local("\263A"), url(https://a.slack-edge.com/bv1-9/lato-italic-5bbcd6c.woff2) format("woff2"), url(https://a.slack-edge.com/bv1-9/lato-italic-d5261ac.woff) format("woff");
	unicode-range: U+0000-2259, U+2261-f8fe, U+f900-ffff
}

@font-face {
	font-family: Slack-Lato;
	font-style: italic;
	font-weight: 700;
	src: local("\263A"), url(https://a.slack-edge.com/bv1-9/lato-italic-bold-99def7d.woff2) format("woff2"), url(https://a.slack-edge.com/bv1-9/lato-italic-bold-2187a11.woff) format("woff");
	unicode-range: U+0000-2259, U+2261-f8fe, U+f900-ffff
}

@font-face {
	font-family: Slack-Lato;
	font-style: italic;
	font-weight: 900;
	src: local("\263A"), url(https://a.slack-edge.com/bv1-9/lato-italic-black-04aca50.woff2) format("woff2"), url(https://a.slack-edge.com/bv1-9/lato-italic-black-23c1971.woff) format("woff");
	unicode-range: U+0000-2259, U+2261-f8fe, U+f900-ffff
}

@font-face {
	font-family: NotoSansJP;
	font-style: normal;
	font-weight: 400;
	src: local("\263A"), url(https://a.slack-edge.com/bv1-9/NotoSansJP-Regular.min-5096b76.woff2) format("woff2"), url(https://a.slack-edge.com/bv1-9/NotoSansJP-Regular.min-ecc316e.woff) format("woff");
	unicode-range: U+3000-303f, U+3040-309f, U+30a0-30ff, U+ff00-ffef, U+00a0, U+4e00-9f62
}

@font-face {
	font-family: NotoSansJP;
	font-style: normal;
	font-weight: 700;
	src: local("\263A"), url(https://a.slack-edge.com/bv1-9/NotoSansJP-Bold.min-7f00be9.woff2) format("woff2"), url(https://a.slack-edge.com/bv1-9/NotoSansJP-Bold.min-19155cc.woff) format("woff");
	unicode-range: U+3000-303f, U+3040-309f, U+30a0-30ff, U+ff00-ffef, U+00a0, U+4e00-9f62
}

@font-face {
	font-family: NotoSansJP;
	font-style: normal;
	font-weight: 900;
	src: local("\263A"), url(https://a.slack-edge.com/bv1-9/NotoSansJP-Bold.min-7f00be9.woff2) format("woff2"), url(https://a.slack-edge.com/bv1-9/NotoSansJP-Bold.min-19155cc.woff) format("woff");
	unicode-range: U+3000-303f, U+3040-309f, U+30a0-30ff, U+ff00-ffef, U+00a0, U+4e00-9f62
}

@font-face {
	font-family: Slack-Larsseit;
	font-style: normal;
	font-weight: 700;
	src: local("\263A"), url(https://a.slack-edge.com/bv1-9/larsseit-bold-0b91251.woff2) format("woff2"), url(https://a.slack-edge.com/bv1-9/larsseit-bold-12559a0.woff) format("woff");
	unicode-range: U+0000-f8fe, U+f900-ffff
}

@font-face {
	font-family: Slack-Larsseit;
	font-style: normal;
	font-weight: 400;
	src: local("\263A"), url(https://a.slack-edge.com/bv1-9/larsseit-regular-abd63de.woff2) format("woff2"), url(https://a.slack-edge.com/bv1-9/larsseit-regular-7f630eb.woff) format("woff");
	unicode-range: U+0000-f8fe, U+f900-ffff
}

@font-face {
	font-family: NotoSansKR;
	font-style: normal;
	font-weight: 400;
	src: local("\263A"), url(https://a.slack-edge.com/bv1-9/NotoSansKR-Regular.min-4e707f2.woff2) format("woff2"), url(https://a.slack-edge.com/bv1-9/NotoSansKR-Regular.min-ca46004.woff) format("woff")
}

@font-face {
	font-family: NotoSansKR;
	font-style: normal;
	font-weight: 700;
	src: local("\263A"), url(https://a.slack-edge.com/bv1-9/NotoSansKR-Bold.min-0655fd8.woff2) format("woff2"), url(https://a.slack-edge.com/bv1-9/NotoSansKR-Bold.min-c88a76d.woff) format("woff")
}

@font-face {
	font-family: NotoSansKR;
	font-style: normal;
	font-weight: 900;
	src: local("\263A"), url(https://a.slack-edge.com/bv1-9/NotoSansKR-Bold.min-0655fd8.woff2) format("woff2"), url(https://a.slack-edge.com/bv1-9/NotoSansKR-Bold.min-c88a76d.woff) format("woff")
}

@font-face {
	font-family: OpenDyslexic;
	font-style: normal;
	font-weight: 400;
	src: local("OpenDyslexic"), local("OpenDyslexic-Regular"), url(https://a.slack-edge.com/bv1-9/OpenDyslexic-Regular-be1e667.otf) format("opentype")
}

@font-face {
	font-family: OpenDyslexic;
	font-style: italic;
	font-weight: 400;
	src: local("OpenDyslexic-Italic"), url(https://a.slack-edge.com/bv1-9/OpenDyslexic-Italic-3718dfd.otf) format("opentype")
}

@font-face {
	font-family: OpenDyslexic;
	font-style: normal;
	font-weight: 700;
	src: local("OpenDyslexic-Bold"), url(https://a.slack-edge.com/bv1-9/OpenDyslexic-Bold-fbcbf44.otf) format("opentype")
}

@font-face {
	font-family: OpenDyslexic;
	font-style: italic;
	font-weight: 700;
	src: local("OpenDyslexic-BoldItalic"), url(https://a.slack-edge.com/bv1-9/OpenDyslexic-BoldItalic-dde9c61.otf) format("opentype")
}

$discord-font: "Whitney", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
$slack-font: "Slack-Lato", "appleLogo", "sans-serif";