.p-client {
	overflow: hidden
}

.p-client {
	background: rgba($bh_primary_background, 1);
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-rows: 38px auto -webkit-min-content;
	grid-template-rows: 38px auto min-content;
	grid-template-columns: auto;
	grid-template-areas: "p-client--iap1__top_nav" "p-client__workspace" "p-client__banners"
}

.p-client--custom-titlebar {
	margin-top: 0;
	height: 100vh
}

.p-client--show-team-sidebar {
	grid-template-columns: 60px auto;
	grid-template-areas: "p-client--iap1__top_nav p-client--iap1__top_nav" "p-client__team_sidebar p-client__workspace" "p-client__banners p-client__banners"
}

.p-client--show-team-sidebar .c-banner {
	left: 60px
}

.p-client--blurred .p-top_nav {
	-webkit-filter: contrast(.8) brightness(.8);
	filter: contrast(.8) brightness(.8)
}

.p-client__team_sidebar {
	grid-area: p-client__team_sidebar
}

.p-workspace {
	grid-area: p-client__workspace
}

.p-client__banners {
	grid-area: p-client__banners
}