.c-virtual_list__item {
    .empty-thread-title {
        font-family: $discord-font;
        color: #d1d2d3;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }

    .empty-thread-placeholder {
        display: table;
        margin: 0 auto;
    }
}

.p-threads_flexpane .c-message_kit__thread_message--root .c-message_kit__gutter {
	padding-top: 20px
}

.c-message_kit__thread_message .c-message_kit__gutter,
.c-message_kit__thread_message .c-message_kit__tombstone {
	padding: 8px 24px 8px 16px
}

.c-message_kit__thread_message .c-message_kit__gutter__right {
	padding-right: 0
}

.c-message_kit__thread_message .c-message_kit__labels__label {
	padding-top: 4px;
	padding-left: 16px
}

.c-message_kit__thread_message .c-message_kit__labels--light .c-message_kit__labels__icon {
	width: 36px
}

.c-message_kit__thread-message--new_reply {
	background: rgba(29, 155, 209, .1)
}

.c-message_kit__thread_message--root .c-message_kit__gutter,
.c-message_kit__thread_message--root .c-message_kit__tombstone {
	padding-top: 12px
}

.c-message_kit__thread_message--root .c-message_kit__labels__label {
	padding-top: 8px;
	margin-bottom: -8px
}

.c-message_kit__thread_message--root .c-timestamp {
	margin-left: 4px
}

.thread-blocks {
    border-left: 1px solid #f8f8f8;
}

.p-thread__reply_pin {
    position: absolute;
    bottom: 5px;
    right: 15px;
    color: transparent;
    font-size: 14px;
    font-weight: 500;
}

.c-message_kit__actions:hover .p-thread__reply_pin {
    color: #d1d2d3;
}

.c-message_kit__actions:hover .p-thread__reply_pin:hover {
    color: #1D9BD1;
}